body{

    text-align: center;
}
.container{

    width:400px;
    margin: auto;

}

#input-number1
{
    width: 60%;
    padding: 0.5rem;
    margin: 1rem 6rem 1rem 4.5rem;
}
#input-number2{
    width: 60%;
    padding: 0.5rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

button{
    width: 40%;
    padding: 0.5rem;
    margin: 1rem 2rem;

}